web/WEB-INF/wsdl/localhost_8080/_diegofernandobarrios_17122017_webservice/WSUser.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.services.hitss.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.services.hitss.com/" name="WSUser">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.services.hitss.com/" schemaLocation="http://localhost:8080/_diegofernandobarrios_17122017_webservice/WSUser?xsd=1"/>
</xsd:schema>
</types>
<message name="listUser">
<part name="parameters" element="tns:listUser"/>
</message>
<message name="listUserResponse">
<part name="parameters" element="tns:listUserResponse"/>
</message>
<message name="checkCredentials">
<part name="parameters" element="tns:checkCredentials"/>
</message>
<message name="checkCredentialsResponse">
<part name="parameters" element="tns:checkCredentialsResponse"/>
</message>
<message name="insertUser">
<part name="parameters" element="tns:insertUser"/>
</message>
<message name="insertUserResponse">
<part name="parameters" element="tns:insertUserResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="listUsers">
<part name="parameters" element="tns:listUsers"/>
</message>
<message name="listUsersResponse">
<part name="parameters" element="tns:listUsersResponse"/>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"/>
</message>
<portType name="WSUser">
<operation name="listUser">
<input wsam:Action="http://webservice.services.hitss.com/WSUser/listUserRequest" message="tns:listUser"/>
<output wsam:Action="http://webservice.services.hitss.com/WSUser/listUserResponse" message="tns:listUserResponse"/>
</operation>
<operation name="checkCredentials">
<input wsam:Action="http://webservice.services.hitss.com/WSUser/checkCredentialsRequest" message="tns:checkCredentials"/>
<output wsam:Action="http://webservice.services.hitss.com/WSUser/checkCredentialsResponse" message="tns:checkCredentialsResponse"/>
</operation>
<operation name="insertUser">
<input wsam:Action="http://webservice.services.hitss.com/WSUser/insertUserRequest" message="tns:insertUser"/>
<output wsam:Action="http://webservice.services.hitss.com/WSUser/insertUserResponse" message="tns:insertUserResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://webservice.services.hitss.com/WSUser/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://webservice.services.hitss.com/WSUser/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="listUsers">
<input wsam:Action="http://webservice.services.hitss.com/WSUser/listUsersRequest" message="tns:listUsers"/>
<output wsam:Action="http://webservice.services.hitss.com/WSUser/listUsersResponse" message="tns:listUsersResponse"/>
</operation>
<operation name="updateUser">
<input wsam:Action="http://webservice.services.hitss.com/WSUser/updateUserRequest" message="tns:updateUser"/>
<output wsam:Action="http://webservice.services.hitss.com/WSUser/updateUserResponse" message="tns:updateUserResponse"/>
</operation>
</portType>
<binding name="WSUserPortBinding" type="tns:WSUser">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkCredentials">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSUser">
<port name="WSUserPort" binding="tns:WSUserPortBinding">
<soap:address location="http://localhost:8080/_diegofernandobarrios_17122017_webservice/WSUser"/>
</port>
</service>
</definitions>